@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");

body {
  background-color: #2e2f34;
  color: white;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: solid 1px #1c1c1c;
  justify-content: space-between;
}
